body {
    background: #454545;
}

/* Quitar barra de Google en el autocompletado */
.pac-container:after {
    background-image: none !important;
    height: 0px;
}
.pac-item {
    font-size: 4vh;
}

.pac-item-query {
    font-size: 4vh;
}
input::-webkit-input-placeholder {
    font-size: 3vh;
    height: 6px;
    padding: 35px 0px;
}
input.autocomplete-app {
    font-size: 2rem !important;
}

/* Mapa */
#map {
    height: 480px;
    margin-top: 90px;
}

/* Body */
.autocomplete-app {
    position:relative;
    text-align:center;
    color:white;
}


/* Animacion loading */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
#loading:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #cc1616;
    border-top-color: #efefef;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Points div */
.list-group {
    width: inherit;
}

.list-group-item {
    margin-top: 10px;
    border-radius: none;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.list-group-item:hover {
    transform: scaleX(1.01)
}

.check {
    opacity: 0;
    transition: all 0.6s ease-in-out
}

.about span {
    font-size: 12px;
    margin-right: 10px
}

.arrow-position {
    margin-top: 12px;
    margin-right: 15px;
}

.route-btn {
    padding: 0 3.2rem;
}

.route-btn:hover {
    color: #454545!important;
}

.route-btn:focus {
    box-shadow: none!important;
}

.map-icon {
    font-size: 2.4em;
}