<!DOCTYPE html>
<html lang="es">

<head>
  <title>Deltrace</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="css\app\layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
    <div class="wrapper row1">

    </div>
    <div id="pageintro" class="hoc clear">
      <article>
        <h3 class="heading">Calculador de rutas</h3>
        <p>Introduzca una dirección y esta se añadirá automaticamente a la lista de puntos de ruta. Después presione el boton "Comenzar ruta" para iniciar la misma.
        </p>
        <footer>
          <form class="group" method="post" action="#">
            <fieldset>
              <input type="email" value="" placeholder="Email Here&hellip;">
              <button class="fas fa-sign-in-alt" type="submit" title="Submit"><em>Submit</em></button>
            </fieldset>
          </form>
        </footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <div class="clear"></div>
    </main>
  </div>
  <!-- JAVASCRIPTS -->
  <script src="js/app/jquery.min.js"></script>
  <script src="js/app/jquery.backtotop.js"></script>
  <script src="js/app/jquery.mobilemenu.js"></script>
</body>

</html>