.loading {
    margin-left: 50%;
    font-size: 5em;
}

.edit-form-data > i.fa-edit {
    color: #1c84c6;
}

.delete-form-data > i.fa-trash-alt {
    color: #e41515;
}
.edit-form-data:hover{
    text-decoration: none;
}
.edit-form-data{
    margin-right: 20%;
}

div.slider {
    display: none;
}
/*
.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}*/


/* Leaflet */
/*
#map { 
    height: 180px; 
}
*/
/* Google Maps */
#map {
    height: 320px;
}
/* Se arregla el z-index de la barra de busqueda */
.pac-container {
    z-index: 1051 !important;
}